<div class="container">
    <div class="container">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

          <h1>プロフィール確認</h1>

          <div>
            <%= attachment_image_tag @user, :image_id, :fill, 100, 100, fallback: "no_image.jpg" %>
            <table class="table">
              <tbody>
                <tr>
                  <th>名前</th>
                  <th><%= @user.name %></th>
                </tr>
                <tr>
                  <th>プロフィール</th>
                  <th><%= @user.text %></th>
                </tr>
              </tbody>
            </table>
          </div>


        </div>
    </div>
</div>