<div class="container">
  <div class="row">
    <div class="col-11 col-sm-10 col-lg-8 col-xl-6 mx-auto">

      <div class="main-visual">
        <div class="main-visual-content">
          <p class="main-visual-text">
            安心して辿り着けるように。
          </p>
        </div>
      </div>

    <div class="main col-10 mx-auto">
      <div class="row">
        <div class="col text-center">
          <h2>ようこそモクナビ！へ</h2>
        </div>
      </div>
    </div>

    <div class="col-10 mx-auto">
      <div class="row">
        <div class="col text-center">
          <p>登録してルートを検索しよう</p>
          <p><%= link_to "新規登録", new_user_registration_path, class:"btn btn-secondary" %></p>
          <p>アカウントをお持ちの場合</p>
          <p><%= link_to "ログイン", new_user_session_path, class:"btn btn-secondary" %></p>
        </div>
      </div>
    </div>

  </div>
</div>