<div class="container">
  <div class="row">
    <div class-"col-3">

      <div class="sidebar-fixed">
        固定コンテンツ
      </div>

      <div class="col">
        メインコンテンツ
      </div>

    </div>
  </div>
</div>