<h1>新規投稿</h1>


<%= form_with model: @post, url:posts_path, local:true do |f| %>

  <table>
    <tbody>
      <tr>
        <td>タイトル</td>
        <td><%= f.text_field :title, autofocus: true %></td>
      </tr>
      <tr>
        <td>内容</td>
        <td><%= f.text_area :body %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "投稿" %></td>
      </tr>
    </tbody>
  </table>
<% end %>