// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar_fixed {
  position: sticky;
  top: 60px;
  margin-top: 30px;
}

.main-title {
  margin: 30px;
}

.post-datetime{
  margin-bottom: 50px;
}

.post-body{
  margin-bottom: 50px;
}

.post-text{
  margin-top: 20px;
  margin-bottom: 80px;
}

.post-comments {
  margin-top: 100px;
}

.post-form {
  margin-top: 30px;
}

.pagenate {
  margin-top: 30px;
}

td {
  padding: 10px 0;
}